{% load staticfiles i18n flatpages messages %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/microsocial.css" %}">
</head>
<body>
<div id="wrap">
    {% block header %}
        <nav class="navbar " role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">{% trans 'вместе'|capfirst %}</a>
                </div>
                <div class="collapse navbar-collapse">
                    <form class="navbar-form navbar-right" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}"/>
                        {% if LANGUAGE_CODE == 'ru' %}
                            <input name="language" type="hidden" value="en"/>
                            <input type="submit" value="" style="background-image: url({% static "img/en.png" %});
                                    background-position:  0px 0px;
                                    background-repeat: no-repeat;
                                    width: 32px; height: 25px; "/>
                        {% else %}
                            <input name="language" type="hidden" value="ru"/>
                            <input type="submit" value="" style="background-image: url({% static "img/ru.png" %});
                                    background-position:  0px 2px;
                                    background-repeat: no-repeat;
                                    width: 32px; height: 25px; "/>
                        {% endif %}
                    </form>
                    {% if user.is_authenticated %}
                        <p class="navbar-text navbar-right">
                            <a href="/logout/" class="navbar-link">{% trans 'выход'|capfirst %}</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </nav>

    {% endblock header %}
    {% block content %}
        <div class="container-fluid">
            <div class="row">
                {% block dashboard %}
                    {% block dashboard_header %}{% endblock dashboard_header %}
                    {% block dashboard_general_message %}
                        {% messages %}
                    {% endblock dashboard_general_message %}
                    {% block dashboard_content %} {% endblock dashboard_content %}
                {% endblock dashboard %}
            </div>
        </div>
    {% endblock content %}
    <div id="push"></div>
</div>
{% block footer %}
        <nav role="navigation" class="navbar navbar-default" id="footer">
            <div class="container-fluid col-md-6 col-md-offset-3">
                <ul class="nav nav-justified">
                    {% get_flatpages as flatpages %}
                    {% for flatpage in flatpages %}
                        <li>
                            <a href="{{ flatpage.url }}">{{ flatpage.title|capfirst }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <p class="text-center"><span>&copy</span> Copyright 2014</p>
            </div>
        </nav>
{% endblock footer %}
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
{#<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>#}
<script type="text/javascript" src="{% static 'js/microsocial.js' %}"></script>

{% block extra_script %}{% endblock extra_script %}

</body>
</html>