{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible col-sm-{{ size }} col-sm-offset-{{ offset }}" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            {{ message }}
            </div>
        {% endfor %}
{% endif %}