{% load show_posts static humanize i18n %}
<div class="container-fluid">
    {% if posts.has_other_pages %}
        <ul class="pager">
            {% if posts.has_previous %}
                <li>
                    <a href="?page={{ posts.previous_page_number }}">
                        &larr; {% trans 'новые'|capfirst %}
                    </a>
                </li>
            {% endif %}
            {% if posts.has_next %}
                <li>
                    <a href="?page={{ posts.next_page_number }}">
                        {% trans 'старые'|capfirst %} &rarr;
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
    {% for post in posts %}
        <div class="row table-bordered" style="margin: 10px 0; position: relative; right: 15px;">
            <div class="col-sm-2 media" style="padding: 5px;">
                {% if post.created_by.avatar %}
                    <img class="media-object table-bordered" src="{{ post.created_by.avatar.url }}"
                         alt="avatar" style="width: 100%;">
                {% else %}
                    <img class="media-object table-bordered" src="{% static 'profile/no_avatar.jpg'%}"
                         alt="no_avatar" style="width: 100%;">
                {% endif %}
            </div>
            <div class=" col-sm-10">
                <div class="row" style="padding: 10px;">
                    <div class="posted_by" style="float: left;">
                        <a href="{% url 'profile' post.created_by.pk  %}" style="display: inline-block;">
                            {{ post.created_by.user.first_name|capfirst }} {{ post.created_by.user.last_name|capfirst }}
                        </a>
                    </div>
                    <div class="post_time" style="float: left; margin-left: 30px;">
                        <div class="short_time">
                            {{ post.created_at|naturaltime }}
                        </div>
                        <div class="full_time">
                            {{ post.created_at}}
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 10px;">
                    {{ post.text }}
                </div>

            </div>
        </div>
    {% endfor %}
    {% if posts.has_other_pages %}
        <ul class="pager">
            {% if posts.has_previous %}
                <li>
                    <a href="?page={{ posts.previous_page_number }}">
                        &larr; {% trans 'новые'|capfirst %}
                    </a>
                </li>
            {% endif %}
            {% if posts.has_next %}
                <li>
                    <a href="?page={{ posts.next_page_number }}">
                        {% trans 'старые'|capfirst %} &rarr;
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</div>