html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0px auto -80px;
}

#push {
    height: 60px;
}

#footer{
    margin-bottom: 0px;
    margin-top: 20px;
}

.full_time{
    display: none;
}

.post_time:hover .short_time{
    display: none;
}

.post_time:hover .full_time{
    display: block;
}