{% extends 'base.html' %}

{% load staticfiles messages i18n show_posts %}

{% block dashboard %}
    <div class="col-sm-3">
        {% if profile.avatar %}
            <img class="img-responsive img-rounded" src="{{ profile.avatar.url }}" alt="avatar">
        {% else %}
            <img class="img-responsive img-rounded" src="{% static 'profile/no_avatar.jpg' %}" alt="no_avatar">
        {% endif %}
        {% if profile == user.profile %}
            <div class="text-center" style="margin-top: 10px;">
                <a class="text-primary" href="{% url 'settings' %}">{% trans 'настройки' %}</a>
            </div>
        {% endif %}
    </div>
    <div class="col-sm-9">
        {% block dashboard_general_message %}
            {% messages size=6 offset=3 %}
        {% endblock dashboard_general_message %}
        {% block dashboard_content %}
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ profile.user.last_name }} {{ profile.user.first_name }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <span>{% trans 'пол'|capfirst %}:</span>
                </div>
                <div class="col-sm-10">
                    <span>{{ profile.user.get_sex_display }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <span>{% trans 'дата рождения'|capfirst %}:</span>
                </div>
                <div class="col-sm-10">
                    <span>{{ profile.user.birth_date }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <span>{% trans 'город'|capfirst %}:</span>
                </div>
                <div class="col-sm-10">
                    <span>{{ profile.city }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <span>{% trans 'место работы'|capfirst %}:</span>
                </div>
                <div class="col-sm-10">
                    <span>{{ profile.company }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <span>{% trans 'о себе'|capfirst %}:</span>
                </div>
                <div class="col-sm-10">
                    <span>{{ profile.about }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <span>{% trans 'интересы'|capfirst %}:</span>
                </div>
                <div class="col-sm-10">
                    <span>{{ profile.interests }}</span>
                </div>
            </div>
            <div class="row" style="margin: 20px 0;">
                <form role="form" method="post">
                {% csrf_token %}
                    <div class="form-group">
                        <textarea rows="4"  name="text" style="width: 90%;"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="center-block btn btn-primary pull-left">
                            {% trans 'опубликовать'|capfirst %}
                        </button>
                    </div>
                    <input type="hidden" name="next" value=""/>
                </form>
            </div>
            {% show_posts posts %}
        {% endblock dashboard_content %}
    </div>
{% endblock dashboard %}