{% extends 'base.html' %}

{% load messages i18n show_posts staticfiles %}

{% block dashboard %}
    <div class="container-fluid">
        <div class="row">
            {% block dashboard_content %}
                <form role="form" enctype="multipart/form-data" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="profile">
                    <div class="col-sm-3">
                        {% if profile_form.user.profile.avatar %}
                            <img class="img-responsive img-rounded"
                                 src="{{ profile_form.user.profile.avatar.url }}" alt="avatar">
                        {% else %}
                            <img class="img-responsive img-rounded"
                                 src="{% static 'profile/no_avatar.jpg' %}" alt="no avatar">
                        {% endif %}
                        <input name="avatar-clear" type="checkbox"> {% trans 'удалить' %}
                        <input id="id_avatar" name="avatar" type="file">
                    </div>
                    <div class="col-sm-9">
                        {% block dashboard_general_message %}
                            {% messages size=12 offset=0 %}
                        {% endblock dashboard_general_message %}
                        {% for field in profile_form %}
                            {% if field.name != 'avatar' %}
                                <div class="form-group">
                                    {% field_errors field.errors %}
                                    <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">
                                        {{ field.label|capfirst }}
                                    </label>
                                    <div class="col-sm-4">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <input type="hidden" name="next" value=""/>
                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-info" name="profile">
                                    {% trans 'сохранить'|capfirst %}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="pass">
                    <div class="col-sm-9 col-sm-offset-3">
                        <h3 class="col-sm-offset-2">{% trans 'изменение пароля'|upper %}</h3>
                        {% for field in form_pass_change %}
                            <div class="form-group">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-4">
                                    {% field_errors field.errors %}
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-info" name="pass">
                                    {% trans 'изменить'|capfirst %}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="email">
                    <div class="col-sm-9 col-sm-offset-3">
                        <h3 class="col-sm-offset-2">{% trans 'изменение email'|upper %}</h3>
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <span class="col-sm-2">
                                {{ form_email_change.user.email }}
                            </span>
                        </div>
                        {% for field in form_email_change %}
                            <div class="form-group">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-4">
                                    {% field_errors field.errors %}
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-info" name="email">
                                    {% trans 'изменить'|capfirst %}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            {% endblock dashboard_content %}
        </div>
    </div>

{% endblock dashboard %}