{% extends 'base.html' %}

{% load messages i18n%}

{% block dashboard_general_message %}

        {% messages size=6 offset=3 %}

{% endblock dashboard_general_message %}

{% block dashboard_content %}

    <div class="col-sm-offset-4 col-sm-4">
        <h4 style="text-align: center;">{% trans 'восстановление пароля'|upper %}</h4>
        <form action="" method="post">{% csrf_token %}

            {% for field in form %}
                <div class="form-group col-sm-8 col-sm-offset-2">
                    {% field_errors field.errors %}
                    {{ field }}
                </div>
            {% endfor %}

            <div class="form-group col-sm-8 col-sm-offset-2">
                <button type="submit" class="center-block btn btn-default">{% trans 'восстановить' %}</button>
            </div>
        </form>
        <a  href="{% url 'login' %}" ><p class="text-center">{% trans 'авторизация' %}</p></a>
    </div>

{% endblock dashboard_content %}