{% extends 'base.html' %}

{% load messages %}

{% block dashboard_general_message %}

        {% messages size=6 offset=3 %}

{% endblock dashboard_general_message %}

{% block dashboard_content %}

    <div class="col-sm-offset-5 col-sm-2">
        <h4 style="text-align: center;">АВТОРИЗАЦИЯ</h4>
        <form role="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.password }}
            </div>
            <div class="form-group">
                <button type="submit" class="center-block btn btn-default">войти</button>
            </div>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
        <a  href="{% url 'confirm_recovery' %}" ><p class="text-center"> забыли пароль? </p></a>
        <a  href="{% url 'registration' %}" ><p class="text-center"> регистрация </p></a>
    </div>

{% endblock dashboard_content %}


